* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.button {
    border: none;
    color: rgb(208, 87, 224);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font: Times;
    font-size: large;
    border-radius: 10px;
}

.button1 {
    background-color: rgb(208, 87, 224);
    color: black;
    border: 2px solid rgb(208, 87, 220);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button1:hover {
    background-color: rgb(223, 149, 231);
    color: rgb(223, 149, 231);
    border: 2px solid rgb(223, 149, 231);
}

.sansserif {
    font-family: Geneva, Helvetica, sans-serif;
}

.serif {
    font-family: "Times New Roman", Times, serif;
}

.sansserif {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div1 {
    position: absolute;
    left: 120px;
}

.header1 {
    min-width: 1432px;
    height: 70px;
    top: 0px;
    font-family: 'Gill Sans', Cambria, Georgia, Times, Times New Roman, serif;
}

.nav li {
    display: inline-block;
    margin: 17px;
    vertical-align: top;
    font: Verdana;
    font-size: x-large;
}

.nav li:last-child {
    margin-right: 0;
}

.div2 {
    position: relative;
    left: 200px;
    top: 260px;
}

.p1 {
    position: relative;
    left: 770px;
    font-size: large
}

.section1 {
    width: 1448px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 1448px;
}

.vertical {
    border-left: 6px solid rgb(235, 92, 223);
    height: 500px;
    position: absolute;
    left: 50%;
}

body {
    overflow-x: hidden;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.center {
    text-align: center
}